spring:
  application:
    name: discovery-server
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      fail-fast: true
      retry:
        max-attempts: 30
        initial-interval: 1000
        multiplier: 1.5
        max-interval: 5000

management:
  endpoints:
    web:
      exposure:
        include: "*"
