server:
  port: 8080

spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health, info, metrics
