server:
  port: 8080

spring:
  application:
    name: category-service
  data:
    mongodb:
      auto-index-creation: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://discovery-server:8080/eureka}

springdoc:
  swagger-ui:
    enabled: false

management:
  tracing:
    enabled: true
    propagation:
      produce: b3
      consume: b3
    sampling:
      probability: 1.0
    export:
      zipkin:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health, info, metrics
