server:
  port: 8081

spring:
  application:
    name: gateway
  cloud:
    config:
      fail-fast: true
      retry:
        max-attempts: 30
        initial-interval: 1000
        multiplier: 1.5
        max-interval: 5000

eureka:
  client:
    service-url:
      defaultZone: http://localhost:9091/eureka

springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui
    urls:
      - name: user-service
        url: /v3/api-docs/user
      - name: category-service
        url: /v3/api-docs/category
      - name: meme-service
        url: /v3/api-docs/meme

management:
  tracing:
    enabled: true
    propagation:
      produce: b3
      consume: b3
    sampling:
      probability: 1.0
    export:
      zipkin:
        enabled: true
  endpoint:
    gateway:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health, info, metrics, gateway
