server:
  port: 8080

spring:
  application:
    name: gateway

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://discovery-server:8080/eureka}

springdoc:
  swagger-ui:
    enabled: true
    api-docs:
      enabled: true
    path: /swagger-ui
    urls:
      - name: user-service
        url: /v3/api-docs/user
      - name: category-service
        url: /v3/api-docs/category
      - name: meme-service
        url: /v3/api-docs/meme

management:
  tracing:
    enabled: true
    propagation:
      produce: b3
      consume: b3
    sampling:
      probability: 1.0
    export:
      zipkin:
        enabled: true
  endpoint:
    gateway:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health, info, metrics, gateway
